<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Login Page | Amaze UI Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="../static/i/favicon.png"/>
  <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
  <script src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
  <script type="text/javascript">

      $(function () {
          $("#submit").click(function () {
              if ($("#activationCode").val()==""){
                  alert("激活码不能为空!")
                  return;
              }


              var params = $("#frm").serialize();
              params = decodeURIComponent(params,true);
              //alert(params);

              $.ajax({
                  url:"/user/doActive",
                  data:params,
                  type:"post",
                  dataType:"json",
                  success:function (data) {
                      //alert(data)
                      if (data.msg=="success"){
                          // alert(data)
                          location.href="/hotel/index";
                      } else {
                          $("#errorMsg").html(data.msg);
                      }
                  }
              });
          });
      })
  </script>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>爱旅行</h1>
    <p>Integrated Development Environment<br/>代码编辑，代码生成，界面设计，调试，编译</p>
  </div>
  <hr/>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>激活</h3>
    <hr/>
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
    </div>
    <br/>
    <br/>

    <form method="post" class="am-form" id="frm">
      <label for="activationCode">激活码:</label>
      <input type="text" name="activationCode" id="activationCode" value=""/>
      <br/>
      <div class="am-cf">
        <div id="errorMsg" style="color: red"></div>
        <input type="button" id="submit" name="" value="激  活" class="am-btn am-btn-primary am-btn-sm am-fl"/>
      </div>
    </form>
    <hr/>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
</html>
